<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EPL crud app</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <section class="row">
        <section class="column">
            <h2>Input Api data here</h2>
            <form action="/api" method="POST">
                <input type="text" placeholder="name" name="name">
                <input type="text" placeholder="Club Logo Image Link" name="clubLogo">
                <input type="text" placeholder="Full Name" name="fullName">
                <input type="text" placeholder="NickName" name="nickName">
                <input type="text" placeholder="Home Pitch" name="homePitch">
                <input type="text" placeholder="Location" name="location">
                <input type="text" placeholder="Rival" name="rival">
                <button type="submit">SUBMIT INFO</button>
                <button type="button" id="updateButton">UPDATE INFO</button> 
            </form>
        </section>
    
        <section class="column">
            <h2>Delete Club Info Here</h2>
            <input type="text" placeholder="name to delete" name="deleteInput" id="deleteInput">
            <button id="deleteButton">Delete</button>

            <h2>Current Clubs</h2>
            <ul class="clubs">
                <% for(let i = 0; i < info.length; i++){%>
                <li class="club">
                    <span><%= info[i] %></span>
                </li>
                <% } %>
            </ul>
        </section>
    </section>
    <script type="text/javascript" src="main.js"></script> 
</body>
</html>